{{#if addNewQuestion}}
  <h2>New Question</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="question">Question</label>
        {{textarea value=question id="question"}}
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        {{textarea value=notes id="notes"}}
      </div>
    </form>
    <button {{action 'save1'}}>Save</button>
  </div>
{{else}}
  <button class="btn btn-info"{{action 'questionFormShow'}}>New Question</button>
{{/if}}
