<h2>More information about {{model.author}}'s question:</h2>

{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update"}}

<h2>Answers:</h2>
{{#each model.answers as |answer|}}
  {{answer.author}} says:
  {{answer.content}}
  <br>
{{/each}}


{{new-answer saveAnswer2="saveAnswer3" question=model}}
