<h2>More information about {{model.author}}'s {{model.question}}</h2>

{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update"}}

{{new-answer question=model save2="save3"}}

{{#each model.answers as |answer|}}
  {{answer.author}} says
  {{answer.content}}
  <br>
{{/each}}
